@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

input {
  border: 0;
  outline: 0;
  background: transparent;
  margin-bottom: 30px;
  margin-right: 20px;
  letter-spacing: 2px;
  transform: scale(1.1);
}

button {
  border: 0;
  font-family: 'Roboto', sans-serif;
  padding: 8px 20px;
  margin: 2 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: px;
  font-size: 1.2rem;
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  width: 100%;
  transform: scale(1.1);
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

select{
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  margin-right: 20px;
  letter-spacing: 2px;
  transform: scale(1.1);
}

.main {
  height: 90vh;
  background: rgba(0,0,0,0.75);
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 30vw;
  height: 90vh;
  margin: 0 auto;
}

#title{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px 10px #000;
}

#subtitle{
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 10px #000;
}

#weatherTitle{
  font-family: 'Open Sans', sans-serif;
  margin-right: 3px;
  margin-left: 40px;
}

#weatherInfo{
  font-family: 'Baloo 2', cursive;
  margin-right: 3px;
  margin-left: 3px;
}

.outputContainer div {
  display: inline-block;
  min-height: 40px;
  min-width: 165px;
  height: auto;
  color: white;
  font-size: 1.3rem;
  text-shadow: 1px 1px 15px #000;
}

.flex-item {
  margin: auto;
}


/*---Media Queries --*/
@media (max-height: 750px) {
  .main{
    height: 750px;
  }
}

@media (max-width: 1600px) {
  .main{
    width: 550px;
  }
}
